.syntaxhighlighter {
  margin: 1em 0 0 4em;
  width: 80%;
}
.syntaxhighlighter .line {
  height: 21px;
  line-height: 21px;
}
.syntaxhighlighter .gutter {
  width: 21px;
}
.syntaxhighlighter .gutter .line {
  width: 21px;
}
